extends includes/layout

block content
  .container
    .level
      .level-item.has-text-centered
        div
          p.is-1.title.heading=page.title
          p.heading
              time(datetime=page.date.toJSON())=date(page.date, 'LL')
          p.heading
            b=page.author
    if page.tags && page.tags.length != 0
      .level-item
        .field.is-grouped.is-grouped-multiline
          each tag in page.tags.toArray()
            a.control(href=config.root + tag.path)
              .tags.has-addons
                span.tag.is-rounded=tag.posts.length
                span.tag.is-rounded.is-info=tag.name
    .section.has-text-centered
      !=page.content
    .level.is-mobile
        .level-item
          if page.prev && is_post()
            a.level-item(href=url_for(page.prev.path))
              span.icon
                i.fas.fa-chevron-left
              span.heading siguiente
          if page.next && is_post()
            a.level-item(href=url_for(page.next.path))
              span.heading anterior
              span.icon
                i.fas.fa-chevron-right